<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/css/edit.css">
        <title>更新フォーム</title>
    </head>
    <body>
        <h2>更新フォーム</h2>
        <form action="/update/<%= personas[0].id %>" method="post">
            <div class="itemcontainer">
                <p>名前<span class="hissu">必須</span></p><input type="text" name="username" value="<%= personas[0].username %>">
            </div>
            <div class="itemcontainer">
                <p>年齢<span class="hissu">必須</span></p><input type="text" name="age" value="<%= personas[0].age %>">
            </div>
            <div class="itemcontainer">
                <p>評価<span class="hissu">必須</span></p>
                <input type="text" name="rating" value="<%= personas[0].rating %>">
            </div>
            <div class="itemcontainer">
                <p>理由<span class="hissu">必須</span></p>
                <textarea name="reason" rows="8" cols="60"><%= personas[0].reason %></textarea>
            </div>
            <p class="btn"><input type="submit" value="送信"></p>
        </form>
    </body>
</html>
