<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- <h2>商品レビューサイト</h2> -->
        <h4> 購入者年代別グラフ </h4><canvas id="stage"></canvas>
        <div class="function">
            <div>
                <label for="sort">並び替え</label>
                <select id="sort" class="sort-container">
                    <option value="1">標準</option>
                    <option value="2">評価が高い順</option>
                    <option value="3">評価が低い順</option>
                </select>
                <label for="filter">評価で絞り込み</label>
                <select id="filter" class="filter-container">
                    <option value="0">全て</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>
            <p class="add"><a href="/create">レビューの追加</a></p>
        </div>
        <ul class="personItem-container">
            <% personas.forEach(function (value) { %>
                <li class="personItem">
                    <div>
                        <div>
                            <div class="review">
                                <div class="stars">
                                    <span>
                                        <% for (let i=5; i>= 1; i--) { %> <% if (i <=value.rating) { %>
                                                <label for="review<%= i %>" style="color: #F8C601;">★</label>
                                                <% } else { %>
                                                    <label for="review<%= i %>" style="color: #D2D2D2;">★</label>
                                                    <% } %>
                                                        <% } %>
                                    </span>
                                    <p class="rating"><%= value.rating %></p>
                                </div>
                            </div>
                        </div>
                        <div class="personInfo">
                            <p class="name"><%= value.username %>さん</p>
                            <p class="age"><%= value.age %></p>歳
                        </div>
                        <p class="reason"><%= value.reason %></p>
                        <div class="personItem-defo">
                            <a href="/edit/<%= value.id %>">更新</a>
                            <a href="/delete/<%= value.id %>">削除</a>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ul>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
    <script type="text/javascript">
        //ソート
        let sortSelect = document.getElementById("sort");
        let urlParams = new URLSearchParams(window.location.search);
        let selectedValue = urlParams.get("sort");

        if (selectedValue) {
            sortSelect.value = selectedValue;
        }

        sortSelect.addEventListener("change", function () {
            let selectedValue = sortSelect.value;
            if (selectedValue === "1") {
                let url = new URL(window.location.href);
                url.searchParams.delete("sort");
                location.href = url.href;
            } else {
                let url = new URL(window.location.href);
                url.searchParams.set("sort", selectedValue);
                location.href = url.href;
            }
        });
        //絞り込み
        let filterSelect = document.getElementById("filter");
        let urlParams2 = new URLSearchParams(window.location.search);
        let selectedFilter = urlParams2.get("filter");

        if (selectedFilter) {
            filterSelect.value = selectedFilter;
        }

        filterSelect.addEventListener("change", function () {
            let selectedValue2 = filterSelect.value;
            if (selectedValue2 === "0") {
                let url2 = new URL(window.location.href);
                url2.searchParams.delete("filter");
                location.href = url2.href;
            } else {
                let url2 = new URL(window.location.href);
                url2.searchParams.set("filter", selectedValue2);
                location.href = url2.href;
            }
        });

        function age() {
            //統計を取る
            let ageStatistics = {};
            let ages = document.querySelectorAll(".age");
            ages.forEach(function (age) {
                let ageNum = age.innerHTML;
                if (ageNum !== "") {
                    if (ageStatistics.hasOwnProperty(ageNum)) {
                        ageStatistics[ageNum]++
                    } else {
                        ageStatistics[ageNum] = 1;
                    }
                }
            });
            let ten = 0;
            let twenty = 0;
            let thirty = 0;
            let forty = 0;
            let fifty = 0;
            let sixty = 0;
            let seventy = 0;
            for (let age in ageStatistics) {
                if ((Math.floor(Number(age) / 10) * 10) === 10) {
                    ten += ageStatistics[age];
                }
                else if ((Math.floor(Number(age) / 10) * 10) === 20) {
                    twenty += ageStatistics[age];
                } else if ((Math.floor(Number(age) / 10) * 10) === 30) {
                    thirty += ageStatistics[age];
                } else if ((Math.floor(Number(age) / 10) * 10) === 40) {
                    forty += ageStatistics[age];
                } else if ((Math.floor(Number(age) / 10) * 10) === 50) {
                    fifty += ageStatistics[age];
                } else if ((Math.floor(Number(age) / 10) * 10) === 60) {
                    sixty += ageStatistics[age];
                }
                else {
                    seventy += ageStatistics[age];
                }
            }

            //グラフ
            window.onload = function () {
                let context = document.getElementById('stage');
                new Chart(context, {
                    type: 'bar',
                    data: {
                        labels: ["10代", "20代", "30代", "40代", "50代", "60代", "70代以降"],
                        datasets: [{
                            label: "人数",
                            data: [ten, twenty, thirty, forty, fifty, sixty, seventy],
                            backgroundColor: ['#4169e1']
                        }],
                    },
                    options: {
                        scales: {
                            y: {
                                min: 0,
                                max: 80,
                            }
                        },
                    }
                })
            }
        };
        age();
    </script>
</html>
